.lista-eventos {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: start;
    padding: 20px;
}

.lista-eventos a {
    text-decoration: none;
    color: inherit;
    display: block;
    width: 25%;
    /* --- ADICIONE ESTAS LINHAS --- */
    transition: transform 0.3s ease-in-out; /* Define a animação de transição */
}

.lista-eventos a:hover {
    color: inherit;
    transform: scale(1.05); /* Aumenta o tamanho do card em 5% */
    z-index: 10; /* Garante que o card fique acima dos outros ao ser aumentado */
    border-color: #D40000;
    box-shadow: 0.1rem 0.1rem 1rem #D40000;
}

.card-evento-home {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    background-color: #151515;
    overflow: hidden; /* Garante que o carrossel não ultrapasse as bordas arredondadas */
    width: 100%;
    min-height: 75vh;
}

/* Adicionando um padding ao corpo do card para separar o texto do carrossel */
.card-evento-body-home {
    padding-top: 16px;
}

/* Ajustes no carrossel */
.carousel .slide img {
    height: 200px; /* Define uma altura fixa para as imagens do carrossel */
    width: 100%;
    object-fit: cover; /* Garante que a imagem cubra o espaço sem distorcer */
}

.card-evento-link-home {
    text-decoration: none; /* Remove o sublinhado do link */
    color: inherit; /* Faz o texto herdar a cor do elemento pai */
    display: block; /* Garante que o link ocupe todo o espaço do card */
    margin: 0 3vw;
    /*height: 20%;*/
    /*width: 50%;*/
}
/*--------------ESTILIZAÇÃO DO BOTÃO DE ADD EVENTO---------------------------*/
.fab-container {
    position: fixed;
    bottom: 30px;
    right: 30px;
    /* As outras propriedades de flexbox podem ser removidas se nada mais estiver aqui */
}

/* ALTERADO: A classe .fab agora se aplica diretamente a uma tag <a> (renderizada pelo Link) */
.fab {
    background-color: #151515;
    color: white; /* Garante que a cor do link seja branca */
    text-decoration: none; /* ADICIONADO: Remove o sublinhado padrão dos links */
    font-size: 2.5rem;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    cursor: pointer;
    transition: transform 0.3s ease;
    z-index: 1000;
}

/* Opcional: Efeito de hover para o botão */
.fab:hover {
    transform: scale(1.1);
    /*background-color: #7c4dff;*/
    color: white;
}

#categoria-filtro{
    margin-left: 15px;
    width: 10vw;
    min-width: 100px;
    height: 35px;
    border-radius: 5px;
    border: 1px solid transparent;
    background-color: #151515;
    color: #f0f0f0;
    font-size: 1rem;
    cursor: pointer;
    transition: filter 0.2s ease-in-out;
    will-change: filter;
}
#categoria-filtro:hover {
    filter: drop-shadow(0 0 0.7rem #B60101);
}

.filtro-categoria-container{
    font-size: 1.1rem;
    font-weight: bold;
}

